@use "@/sass/variables";

/** Theme */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  background-color: var(--bg-color);
}

body {
  background-color: var(--bg-color);
  color: variables.$text-color !important;
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: variables.$text-color !important;
  &:hover {
    color: var(--primary-color) !important;
  }
}

p {
  margin: 1rem 0 0 0 !important;
}

ul {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

.app {
  padding: 0.5rem 0.8rem;
}

.button.is-primary {
  background-color: var(--semiwhite-color) !important;
  padding: 7px 25px;
  transition: background-color 0.2s;
  &:hover {
    background-color: var(--secondary-color) !important;
    @media (max-width: 576px) {
      background-color: var(--semiwhite-color) !important;
    }
  }
}
