/** Utils */
.inline-block {
  display: inline-block;
}

.is-fullwidth {
  width: 100% !important;
}

.tac {
  text-align: center;
}

.mt-6 {
  margin-top: 6rem;
}

.pr0 {
  padding-right: 0 !important;
}

.pl0 {
  padding-left: 0 !important;
}
