/** Utils */
.inline-block {
  display: inline-block !important;
}

.is-fullwidth {
  width: 100% !important;
}

.fwn {
  font-weight: normal;
}

.tac {
  text-align: center !important;
}

.ml-10px {
  margin-left: 10px !important;
}

.mt-10px {
  margin-top: 10px !important;
}

.mt-6 {
  margin-top: 6rem !important;
}

.pr0 {
  padding-right: 0 !important;
}

.pl0 {
  padding-left: 0 !important;
}
