@import 'variables.scss';
@import 'utils.scss';
@import 'animations.scss';
@import 'layout.scss';
@import 'theme.scss';

.logo {
  height: 22px;
}

.search-wrapper input {
  border-top: 2px solid rgba(0, 0, 0, 0.4);
  border-right: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  border-left: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 8px 0 0 8px;
  padding: 7px 25px;
}

.search-wrapper .button {
  border-radius: 8px;
}

.is-fullwidth {
  width: 100% !important;
}

.button.is-primary {
  background-color: var(--semiblack-color) !important;
  padding: 7px 25px;
  transition: background-color 0.2s;
}

.button.is-primary:hover {
  background-color: var(--secondary-color) !important;
}

@media (max-width: 576px) {
  .button.is-primary:hover {
    background-color: var(--semiblack-color) !important;
  }
}

.more-detail-page-img {
  width: 100%;
  border-radius: 10px;
}

.more-detail-page__left {
  padding-left: 0;
}

.more-detail-page__right {
  padding-right: 0;
  padding-left: 2rem;
}
@media (max-width: 768px) {
  .more-detail-page__left,
  .more-detail-page__right {
    padding-left: 0;
    padding-right: 0;
  }
}

.more-detail-page-vote-average-value {
  display: block;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0.5rem;
  text-align: center;
}

.more-detail-page-vote-average-value > .grey-label {
  font-weight: 400;
}
