@import 'variables.scss';
@import 'utils.scss';
@import 'animations.scss';
@import 'layout.scss';
@import 'theme.scss';

.logo {
  height: 22px;
}

.grey-label {
  color: #888;
}

.loading-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

.loading {
  width: 100px;
  height: 100px;
  border-top: 3px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  border-left: 3px solid transparent;
  border-radius: 50px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: loading-animation 1s infinite;
}

.loading.is-movie {
  width: 50px;
  height: 50px;
}

.loading.is-grey {
  border-top-color: #ccc;
  border-right-color: #ccc;
  border-bottom-color: #ccc;
}

.no-movie-results {
  margin: 2rem 0 0 0;
  text-align: center;
}

.movies-list {
  margin: 1rem 0 0 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  gap: 1rem;
  padding: 1rem 0;
}

.movies-list > li {
  margin-bottom: 1rem;
  position: relative;
}

.movies-list > li > .icon-wrapper {
  width: 36px;
  height: 36px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 4px 8px 4px 4px;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

@media (max-width: 576px) {
  .movies-list > li > .icon-wrapper {
    display: inline-block;
  }
}

.movies-list > li:hover > .icon-wrapper {
  display: inline-block;
}

.movies-list > li > .icon-wrapper:hover {
  background-color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
}

.movies-list > li > .icon-wrapper:hover:before {
  width: auto;
  height: 36px;
  line-height: 36px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 4px 0 0 4px;
  color: white;
  content: 'Favorito';
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 700;
  padding: 0 8px;
  position: absolute;
  top: 0;
  right: 29px;
}

@media (max-width: 576px) {
  .movies-list > li > .icon-wrapper:hover:before {
    display: none;
  }
}

.movies-list > li > .icon-wrapper > .click-zone {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.movies-list > li > .icon-wrapper > .icon {
  color: #eee;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.movies-list > li > a > .movies-list__img {
  width: 100%;
  height: 240px;
  background-position: center center;
  background-size: cover;
  border-radius: 8px;
  display: inline-block;
  position: relative;
}

.movies-list > li:hover > a > .movies-list__img {
  box-shadow: 0 0 0 0.125em rgb(50 115 220 / 25%);
}

.movies-list > li > a > .movies-list__img:before {
  width: 38px;
  height: 38px;
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  content: '';
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.movies-list > li > a > .movies-list__img > .movies-list-vote-average-value {
  width: 22px;
  color: white;
  display: inline-block;
  font-size: 9px;
  font-weight: 700;
  position: absolute;
  bottom: 23px;
  left: 14px;
  text-align: center;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}

.movies-list
  > li
  > a
  > .movies-list__img
  > .movies-list-vote-average-value
  > small {
  font-size: 7px;
}

.movies-list > li > a > .movies-list__img > .progress {
  width: 22px;
  height: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 17px;
  left: 14px;
}

.movies-list > li > a > .movies-list__title {
  height: auto;
  line-height: 1.2;
  color: black;
  display: block;
  display: -webkit-box;
  font-size: 16px;
  font-weight: 700;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color 0.2s;
}

.movies-list > li:hover > a > .movies-list__title {
  color: var(--secondary-color);
}

.search-wrapper input {
  border-top: 2px solid rgba(0, 0, 0, 0.4);
  border-right: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  border-left: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 8px 0 0 8px;
  padding: 7px 25px;
}

.search-wrapper .button {
  border-radius: 8px;
}

.is-fullwidth {
  width: 100% !important;
}

.button.is-primary {
  background-color: var(--semiblack-color) !important;
  padding: 7px 25px;
  transition: background-color 0.2s;
}

.button.is-primary:hover {
  background-color: var(--secondary-color) !important;
}

@media (max-width: 576px) {
  .button.is-primary:hover {
    background-color: var(--semiblack-color) !important;
  }
}

.more-detail-page-img {
  width: 100%;
  border-radius: 10px;
}

.more-detail-page__left {
  padding-left: 0;
}

.more-detail-page__right {
  padding-right: 0;
  padding-left: 2rem;
}
@media (max-width: 768px) {
  .more-detail-page__left,
  .more-detail-page__right {
    padding-left: 0;
    padding-right: 0;
  }
}

.more-detail-page-vote-average-value {
  display: block;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0.5rem;
  text-align: center;
}

.more-detail-page-vote-average-value > .grey-label {
  font-weight: 400;
}
