@use 'src/sass/variables';

.more-detail-page {
  .p {
    margin-bottom: 1.5rem !important;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    > li {
      margin-right: 1.5rem;
      margin-bottom: 0.5rem;
      white-space: nowrap;
    }
  }
  .button {
    background: linear-gradient(45deg, #6ca4f6 0%, #977af3 50%, #cf6ce3 100%);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-top: 1rem;
    &:hover {
      filter: brightness(1.08);
    }
  }
  .more-detail-page__left {
    padding-left: 0;
    .more-detail-page-img {
      width: 100%;
      border-radius: 10px;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    }
    .more-detail-page-vote-average-value {
      display: block;
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 0.5rem;
      text-align: center;
      > .grey-label {
        font-weight: 400;
      }
    }
    .progress {
      margin-bottom: 5px;
      appearance: none;
      -webkit-appearance: none;
      &::-webkit-progress-bar {
        background-color: rgba(200, 200, 225, 0.2);
      }
      &.is-danger {
        &::-webkit-progress-value {
          background-color: variables.$progress-value-red;
        }
      }
      &.is-warning {
        &::-webkit-progress-value {
          background-color: variables.$progress-value-orange;
        }
      }
      &.is-info {
        &::-webkit-progress-value {
          background-color: variables.$progress-value-blue;
        }
      }
      &.is-primary {
        &::-webkit-progress-value {
          background-color: variables.$progress-value-green;
        }
      }
    }
    .total-votes {
      color: variables.$comments-color;
      font-size: 14px;
    }
  }

  .more-detail-page__right {
    padding-right: 0;
    padding-left: 2rem;
  }

  .back-button {
    background: rgba(200, 200, 225, 0.2);
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    margin-top: 1rem;
    padding: 10px 20px;
    &:hover {
      background: rgba(200, 200, 225, 0.3);
    }
  }

  @media (max-width: 768px) {
    .more-detail-page__left,
    .more-detail-page__right {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
