.more-detail-page-img {
  width: 100%;
  border-radius: 10px;
}

.more-detail-page__left {
  padding-left: 0;
}

.more-detail-page__right {
  padding-right: 0;
  padding-left: 2rem;
}

@media (max-width: 768px) {
  .more-detail-page__left,
  .more-detail-page__right {
    padding-left: 0;
    padding-right: 0;
  }
}

.more-detail-page-vote-average-value {
  display: block;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0.5rem;
  text-align: center;
}

.more-detail-page-vote-average-value > .grey-label {
  font-weight: 400;
}
