@use 'src/sass/variables';

.pagination {
  margin: 2rem 0;
  .pagination-link {
    background-color: var(--bg-color) !important;
    border-color: rgb(96, 96, 110) !important;
    color: variables.$text-color;
    &.is-current {
      background-color: variables.$text-color !important;
      border-color: rgba(0, 0, 0, 0.4) !important;
      color: var(--bg-color) !important;
      cursor: default;
      transition: background-color 0.2s;
    }
    @media (min-width: 769px) {
      &:hover {
        background-color: var(--secondary-color) !important;
        border-color: var(--secondary-color) !important;
        color: var(--bg-color) !important;
        cursor: pointer;
      }
    }
  }
}
