.pagination {
  margin: 2rem 0;
  .pagination-link {
    background-color: var(--bg-color) !important;
    border-color: rgb(104, 86, 128) !important;
    color: white;
    &.is-current {
      background-color: white !important;
      border-color: rgba(0, 0, 0, 0.4) !important;
      color: var(--bg-color) !important;
      cursor: default;
      transition: background-color 0.2s;
    }
    @media (min-width: 769px) {
      &:hover {
        background-color: var(--secondary-color) !important;
        border-color: var(--secondary-color) !important;
        color: var(--bg-color) !important;
        cursor: pointer;
      }
    }
  }
}
