@use '@/sass/variables';

.no-movie-results {
  color: variables.$comments-color;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 0 0;
  text-align: center;
  > svg {
    margin-right: 5px;
  }
}

.movies-list {
  margin: 1rem 0 0 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  gap: 1rem;
  padding: 1rem 0;
  @media (max-width: 576px) {
    grid-template-columns: repeat(2, minmax(14rem, 1fr));
  }
}
