@use "@/sass/variables";

.search-wrapper {
  input {
    height: 50px;
    line-height: 50px;
    background-color: rgb(26, 26, 40);
    border-top: 2px solid rgb(126, 126, 150);
    border-right: none;
    border-bottom: 2px solid rgb(126, 126, 150);
    border-left: 2px solid rgb(126, 126, 150);
    border-radius: 25px 0 0 25px;
    color: variables.$text-color;
    padding: 0 25px;
    &::placeholder {
      color: rgb(156, 156, 180);
      opacity: 1;
    }
    &:hover {
      border-color: rgb(146, 146, 170);
    }
  }
  .button {
    height: 50px;
    background: linear-gradient(45deg, #6ca4f6 0%, #977af3 50%, #cf6ce3 100%);
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 0 30px;
    &:hover {
      filter: brightness(1.08);
    }
  }
}
