@use "@/sass/variables";

.navbar {
  background-color: transparent;
  margin-bottom: 2rem !important;
  > .navbar-brand {
    .navbar-item {
      padding: 0 2rem 0 0;
      img {
        max-height: 100%;
      }
      .logo {
        width: 220px;
        margin-top: 2px;
      }
    }
    > .navbar-burger {
      width: 34px !important;
      height: 24px !important;
      background-color: transparent !important;
      margin-top: 22px;
      span {
        width: 34px !important;
        height: 3px !important;
        &:nth-child(1) {
          top: 0;
          left: calc(0%);
        }
        &:nth-child(2) {
          top: 9px;
          left: calc(0%);
        }
        &:nth-child(3) {
          top: 18px;
          left: calc(0%);
        }
      }
    }
  }
  .navbar-start {
    background-color: transparent;
    border-radius: 10px;
    padding: 0;
    position: relative;
    top: 2px;
    > .navbar-item {
      color: variables.$text-color;
      font-size: 18px;
      &:hover,
      &:focus {
        background-color: transparent;
        color: var(--primary-color);
      }
      @media (max-width: 576px) {
        padding: 1rem;
      }
    }
    @media (max-width: 1023px) {
      background-color: rgba(0, 0, 0, 0.6) !important;
      padding: 0.5rem 0;
    }
  }
  @media screen and (max-width: 1023px) {
    > .navbar-menu {
      background-color: var(--bg-color) !important;
      box-shadow: none !important;
      padding: 0 !important;
    }
  }
}
