.navbar {
  background-color: transparent;
  margin-bottom: 2rem !important;
  > .navbar-brand {
    .navbar-item {
      padding: 0 2rem 0 0;
      img {
        max-height: 100%;
      }
      .logo {
        width: 220px;
        margin-top: 2px;
      }
    }
    > .navbar-burger {
      width: 24px !important;
      height: 20px !important;
      background-color: transparent !important;
      margin-top: 16px;
      span {
        width: 20px !important;
        height: 2px !important;
      }
    }
  }
  .navbar-start {
    background-color: transparent;
    border-radius: 10px;
    padding: 0;
    > .navbar-item {
      color: white;
      font-size: 18px;
      &:hover,
      &:focus {
        background-color: transparent;
        color: var(--primary-color);
      }
      @media (max-width: 576px) {
        padding: 1rem;
      }
    }
    @media (max-width: 1023px) {
      background-color: rgb(24, 6, 48) !important;
      padding: 0.5rem 0;
    }
  }
  @media screen and (max-width: 1023px) {
    > .navbar-menu {
      background-color: var(--bg-color) !important;
      box-shadow: none !important;
      padding: 0 !important;
    }
  }
}
