.navbar {
  margin-bottom: 2rem !important;
  > .navbar-brand {
    .logo {
      height: 22px;
    }
    > .navbar-burger {
      width: 24px !important;
      height: 20px !important;
      background-color: transparent !important;
      margin-top: 16px;
      span {
        width: 20px !important;
        height: 3px !important;
      }
    }
  }
  .navbar-start {
    > .navbar-item {
      font-weight: 700;
      @media (max-width: 576px) {
        padding: 0.8rem 0;
      }
    }
  }
  @media screen and (max-width: 1023px) {
    > .navbar-menu {
      box-shadow: none !important;
      padding: 0 !important;
    }
  }
}
