header {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  > nav {
    width: 40%;
    display: inline-block;
    > ul {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
    }
    li > a {
      color: var(--secondary-color);
      font-size: 18px;
      font-weight: 700;
      margin-left: 1.5rem;
      padding: 7px 0;
    }
  }
}
