@use '@/sass/variables';

li {
  margin-bottom: 1rem;
  position: relative;
  > .icon-wrapper {
    width: 36px;
    height: 36px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 4px 8px 4px 4px;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    &:hover {
      background-color: rgba(0, 0, 0, 0.9);
      cursor: pointer;
      &:before {
        width: auto;
        height: 36px;
        line-height: 36px;
        background-color: rgba(0, 0, 0, 0.9);
        border-radius: 4px 0 0 4px;
        color: variables.$text-color;
        content: 'Favorito';
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        font-weight: 700;
        padding: 0 8px;
        position: absolute;
        top: 0;
        right: 29px;
        @media (max-width: 576px) {
          display: none;
        }
      }
    }
    > .click-zone {
      width: 100%;
      height: 100%;
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
    > svg {
      width: 22px;
      height: 22px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    @media (max-width: 576px) {
      display: inline-block;
    }
  }
  > a {
    .movies-list__img {
      width: 100%;
      aspect-ratio: 2 / 3;
      height: auto;
      background-color: rgb(16, 16, 30);
      border-radius: 8px;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
      position: relative;
      overflow: hidden;
      display: block;
      > .movies-list-vote-average-value {
        width: 22px;
        color: variables.$text-color;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        font-weight: 700;
        position: absolute;
        bottom: 5px;
        left: 5px;
        width: 38px;
        height: 38px;
        text-align: center;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
        z-index: 3;
      }
      > .rating-ring {
        width: 38px;
        height: 38px;
        position: absolute;
        bottom: 5px;
        left: 5px;
        z-index: 2;
        svg {
          width: 38px;
          height: 38px;
          transform: rotate(-90deg);
          display: block;
        }
        .ring-bg {
          fill: none;
          stroke: rgba(255, 255, 255, 0.25);
          stroke-width: 4;
        }
        &.is-danger {
          .ring {
            stroke: variables.$progress-value-red;
          }
        }
        &.is-warning {
          .ring {
            stroke: variables.$progress-value-orange;
          }
        }
        &.is-info {
          .ring {
            stroke: variables.$progress-value-blue;
          }
        }
        &.is-primary {
          .ring {
            stroke: variables.$progress-value-green;
          }
        }
        .ring {
          fill: none;
          stroke: #7c3aed;
          stroke-width: 4;
          stroke-linecap: round;
          stroke-dasharray: 100;
          stroke-dashoffset: 100;
          transition: stroke-dashoffset 200ms linear;
        }
      }
      &:before {
        width: 38px;
        height: 38px;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 25px;
        content: '';
        position: absolute;
        bottom: 5px;
        left: 5px;
        z-index: 1;
      }
    }
    .movies-list__poster {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
      display: block;
    }
    .movies-list__title {
      height: auto;
      line-height: 1.2;
      color: variables.$text-color;
      display: block;
      display: -webkit-box;
      font-size: 14px;
      font-weight: 700;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      padding-top: 0.5rem;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: color 0.2s;
      @media (max-width: 576px) {
        text-align: center;
      }
    }
  }
  &:hover {
    > .icon-wrapper {
      display: inline-block;
    }
    > a {
      > .movies-list__img {
        box-shadow: 0 0 0 3px var(--primary-color);
      }
      > .movies-list__title {
        color: var(--primary-color);
      }
    }
  }
}
